.mainFormHolder{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
}
.log{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}
.dont{
     text-align: center;
      font-size: 18px;
    font-weight: 400;
}
.link{
    width: 100%;
    object-fit: cover;
       height: 120vh;
}
.ok{
    height: 120vh;
}

@media screen and (max-width:991px){
    .ok{
    display: none;
}
.mainFormHolder{
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
}
}


.PhoneInputInput{
    height: 40px;
width: 300px;
outline: none;
border: none;
    background-color: #F3F3F1 !important;
margin-bottom: 5px;
margin-top: 5px;
margin-right: 5px;
border-radius: none;
}
.wow{
    background-color: #F3F3F1 !important;
    padding: 0 0 0 5px;
    border-radius: 6px;
    border: 0.5px solid black;
}

.PhoneInputCountry {
border-right: 1px solid rgb(0, 0, 0);
width: 44px;

}